#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer { // Layer 0
            // -------------------------------------
            // |     Z     |     M     |     K     |
            // |     A     |     B     |     C     |
            // |     D     |     E     |     F     |
            bindings = <
                &studio_unlock    &kp N1    &kp N1    &kp N1    &kp N1    &kp N1    &kp N1    &kp N1    &kp N1    &kp N1    &kp N1    &kp N1
                &kp N1    &kp N1    &kp N1    &kp N1    &kp N1    &kp N1    &kp N1    &kp N1    &kp N1    &kp N1    &kp N1    &kp N1
                &kp N1    &kp N1    &kp N1    &kp N1    &kp N1    &kp N1    &kp N1    &kp N1    &kp N1    &kp N1    &kp N1    &kp N1
                &kp N1    &kp N1    &kp N1    &kp N1    &kp N1    &kp N1    &kp N1    &kp N1    &kp N1    &kp N1    &kp N1    &kp N1    &kp N1    &kp N1
                &kp N1    &kp N1    &kp N1    &kp N1    &kp N1    &kp N1    &kp N1    &kp N1    &kp N1    &kp N1    &kp N1    &kp N1    &kp N1    &kp N1
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
 };

